@import "tailwindcss";

:root {
  --orange: #FFAB1A;
  --main-black: #00011D;  
  --gray: #CACACA;
  --blue: #427CC8;
  --lite-gray: #F2F2F2;
  --dark-blue: #123977;
  --lite-orange: #FFCE7F;

}

body {
  background: var(--gray);
  color: var(--main-black);
  
  font-family: Arial, Helvetica, sans-serif;
}
