@import "tailwindcss";

@theme {
  --color-orange: rgb(255,206,127);
  --color-black: #00011D;  
  --color-gray: #CACACA;
  --color-gray-500: #4b516e;
  --color-blue: rgb(90,110,150);
  --color-lite-gray: #F2F2F2;
  --color-dark-blue: #123977;
  --color-lite-orange: rgb(255, 206, 127);
  
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-ibm-serif), serif;
}

body {
  background: var(--color-gray);
  color: var(--color-black);
  font-family: var(--font-ibm-serif), Helvetica, sans-serif;
}
